@tailwind base;
@tailwind components;
@tailwind utilities;

.section {
  @apply container mx-auto py-32 px-2 md:px-10 lg:px-16 max-w-6xl;
}

.section-page {
  @apply container mx-auto py-16 px-2 md:px-10 lg:px-16 max-w-6xl;
}

p {
  @apply text-gray-700 text-base;
}

.stack {
  @apply flex flex-col gap-6;
}

.form-field {
  @apply bg-gray-50 border border-gray-300 outline-none text-gray-900 rounded-md focus:ring focus:ring-blue-300 focus:border-blue-500 block w-full p-2.5 mb-4;
}

.label {
  @apply block mb-1 text-sm font-medium text-gray-600;
}

.card {
  transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  @apply bg-white border border-gray-200 rounded-lg shadow hover:shadow-xl;
}

.colorize-blue {
  filter: invert(37%) sepia(18%) saturate(3531%) hue-rotate(134deg)
    brightness(93%) contrast(84%);
}

.appointment {
  @apply bg-gray-50 border border-gray-200  p-4 rounded-lg flex justify-center;
}

.appointment table {
  @apply w-full;
  table-layout: fixed;
}

.appointment table tr {
  @apply border-b border-gray-100 hover:bg-gray-100;
}

.appointment table td {
  @apply p-2;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-balance {
  text-wrap: balance;
}
